#edit_user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input input {
  width: 100%;
  border-radius: 7px;
}

.hint {
  font-size: 13px;
}
.warning-picture {
  color: #FF5959;
    text-align: center;
}
.wrapper-warning {
  width : 150px;
  text-align: center;
  margin-top: 15px;
}
.wrapper-warning-big {
  display: flex;
  justify-content: center;
}
