.or {
  color: #FBEDE1;
}

.h2-choose {
  color: #FBEDE1;
  font-size: 45px;
  margin-top: 45px;
}

label {
  color: #FF5959;
}

.left-p {
  color: #FBEDE1;
}

.small-text {
  left: 10px;
  display: flex;
  top: 10px;
  color: #FBEDE1 ;
}
