.or {
  color: #91E7E7;
}

.h2-choose {
  color: #91E7E7;
  font-size: 45px;
}

label {
  color: #F1829F;
}

.date {
  color: #F1829F;
}

.left-p {
  color: #F1829F;
}

.small-text {
  left: 10px;
  display: flex;
  top: 10px;
}
