.container-home {
  height: 100vh;
  background-image: asset-url('image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
color: white;
margin-top: 45px;
}

.catch-phrase {
color: white;
margin-top: 15vh;
}

.container-home img{
filter: blur(4px);
}

.infos {
  color: white;
}

.sign-out {
  color: white;
}

.sign.out:hover {
  color: #DBAD6A;
}

