.container-home {
  height: 120vh;
  background-image: asset-url('image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (max-width: 720px) {
  .container-home {
    height: 100vh;
  }
}

h2 {
    color: #FBEDE1;
  }

.row-home-buttons {
  margin-top: 88px;
}
.title {
color: white;
margin-top: 45px;
}

.catch-phrase {
color: white;
margin-top: 9vh;
}

.infos {
  color: white;
}

.sign-out {
  color: white;
}

.sign.out:hover {
  color: #DBAD6A;
}

body {
  background-color: #3E2948;
}


