.container-home {
  height: 100vh;
  background-image: asset-url('image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (min-width: 310px) and (max-width: 350px){
  .container-home {
    height: 120vh;
  }
}

@media only screen and (min-width: 720px){
  .container-home {
    height: 130vh;
  }
}
@media only screen and (max-width: 300px) and (min-width: 100px) {
  .container-home {
    height: 170vh;
  }
}

@media only screen and (max-width: 322px) and (min-width: 319px) {
  .container-home {
    height: 135vh;
  }
}

@media only screen and (max-width: 368px) and (min-width: 360px) {
  .container-home {
    height: 115vh;
  }
}

@media only screen and (max-width: 380px) and (min-width: 374px) {
  .container-home {
    height: 110vh;
  }
}


h2 {
    color: #FBEDE1;
  }

.row-home-buttons {
  margin-top: 88px;
}
.title {
color: white;
margin-top: 45px;
}

.catch-phrase {
color: white;
margin-top: 9vh;
}

.infos {
  color: white;
}

.sign-out {
  color: white;
}

.sign.out:hover {
  color: #DBAD6A;
}

body {
  background-color: #3E2948;
}


