.card-attendees {
  border: 2px groove rgba(28, 110, 164, 0.18);
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  height: 120px;
  padding: 0px 50px;
  text-align: center;
  position: relative;
  margin-top: 25px;
    h1 {
      margin: 0;
    }
    a {
      text-decoration: none;
      font-size: 16px;
      color: black;
    }
    p {
      font-size: 12px;
    }
}

.attendees {
  padding-bottom: 25px;
}

.title-attendees {
  text-align: center;
  top: 40px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.btn-decline {
  color: white;
  background-color: #878787;
  border: 1px solid #878787;
  padding: 3px 18px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin: 5px;
  text-align: center;
}

a:hover {
  text-decoration: none !important;
  color: white !important;
}

.attendees-managing {
  display: flex;
  justify-content: space-around;
}

.defined-status {
  opacity: 0.6;
}

.btn-approve {
  color: white;
  background-color: #1BCB7F;
  border: 1px solid #1BCB7F;
  padding: 3px 18px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin: 2px;
  text-align: center;
  a:active {
    text-decoration: none !important;
    color: white !important;
  }
}

.status-decline {
  color: #F1829F;
  font-weight: bold;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

.status-approve {
  color:#B0DB72;
  font-weight: bold;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

.btn-pending {
  color: #FBD157;
  font-weight: bold;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}
.attendee-avatar {
  width: 160px;
  height: 160px;
  border-radius: 60%;
  padding: 8px;
  margin-top: 10px;
}

.attendee-center {
  text-align: center
}

.btn-test {
  color: white;
  border: 1px solid black;
  padding: 7px 18px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 1px;
  text-align: center;
  font-size: 12px;
  width: 42vw;
  height: 35px;
}

.attendee-hobbies {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.inline-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trashcan {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  color: #fff;
  text-align: center;
}

.title-attendee-name {
  text-align: center;
  font-weight: bolder;
  margin-top: 70px;
  font-size: 30px;
  color: #fff;
}

.message-empty-attendees {
  text-align: center;
  color: #FBEDE1;
  position: relative;
  margin-top: auto;
  margin-bottom: 65px;
}
