<div class="container show">
  <div class="title-bold-big small-margin">
    <%= @event.title %>
  </div>
  <h3 class="title-attendees">The following people are interested in your events!</h3>
    <% @attendees.each do |attendee| %>
  <div class="card-attendees">
    <div class="row attendees">
      <h1><%= link_to attendee.user.first_name + " " + attendee.user.last_name, event_attendee_path(@event, attendee) %></h1>
    </div>
    <div class="row attendees">
    <%= link_to "Accept", event_attendee_path(@event, attendee, query: "Accept"), method: :patch, class: 'btn-approve' %>
    <%= link_to "Decline", event_attendee_path(@event, attendee, query:"Decline"), method: :patch, class: 'btn-decline' %>
    <% end %>
    </div>
  </div>
</div>
