<div class="container show">
  <div class="title-bold-big small-margin">
    Dashboard
  </div>
    <% @events.each do |event| %>
    <div class="card-dashboard">
      <%= link_to event_path(event) do %>
      <%= event.title %>
  </div>
    <% end %>
     <% end %>
    <div class="start-over">
      <%= link_to "Start Again", choose_path, class: "btn btn-primary button-event-signup" %>
    </div>
</div>
