<h1>Attendees#index</h1>
<p>Find me in app/views/attendees/index.html.erb</p>

<div class="container">
<div class="LOGO">
  <h1>STRAVEL</h1>
</div>
</div>

<div class="container">
<div class="event-description ">
  <p> The following people are interested in attending your event!</p>
</div>
</div>

<p class="attendees"> Select Attendees </p>

<div class="card-user-pic">
  <img src="..." class="card-user-avatar">
  <div class="card-user-infos">
    <h2><% @attendee.user_id %></h2>
    <p>Insert something</p>
  </div>
</div>

<div class="card-user-pic">
  <img src="..." class="card-user-avatar">
  <div class="card-user-infos">
    <h2><% @attendee.user_id %></h2>
    <p>Insert something</p>
  </div>
</div>

<div class="card-user-pic">
  <img src="..." class="card-user-avatar">
  <div class="card-user-infos">
    <h2><% @attendee.user_id %></h2>
    <p>Insert something</p>
  </div>
</div>

<button>Continue</button>
