<h3 class="h3-choose small-margin" style="text-align: center;">What kind of activities do you want to attend?</h3>
<div class="container">
  <div class="row">
    <div class="text-center">
        <%= simple_form_for :search, url: events_path, method: :get do |f| %>
               <%= f.input :activity, collection: @activities, as: :check_boxes, item_wrapper_class: 'btn cards', boolean_style: :inline, include_blank: false, include_hidden: false, label: false, checked: current_user.activities.pluck(:id) %>

          <div class="small-margin"><%= f.submit "Continue", :class => 'button-event' %></div>
        <% end %>
    </div>
  </div>
</div>
