<div class="LOGO">
  <h1>STRAVEL</h1>
</div>
<p>Find me in app/views/events/show.html.erb</p>


<div class="card-event-show">
  <div class="card-event-infos">
    <h2><% @event.title %></h2>
    <p>CTO, Le Wagon</p>
  </div>
</div>

<div class="card-event-show">
  <div class="card-event-infos">
    <p><% @event.location %>/p>
  </div>
</div>

<div class="card-user-pic">
  <img src="..." class="card-user-avatar">
  <div class="card-user-infos">
    <h2>Sebastien Saunier</h2>
    <p>CTO, Le Wagon</p>
  </div>
</div>

<div class="card-event-show">
  <div class="card-event-infos">
    <p><% @event.description %>/p>
  </div>
</div>

<button> Add </button>
