<div class="container-couli">
  <div class="row">
    <div class="text-center">
      <h1 class="title" >STRAVEL</h1>
      <h4 class="catch-phrase">Find a cool night out together!</h4>
    </div>
  </div>
  <div class="row">
    <div class="text-center small-margin">
      <% if current_user %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-primary button-event"%>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path ,class: "btn btn-primary button-event"%>
      <% end %>
    </div>
    <div class="text-center">
      <p style="color: white; margin-top: 20vh;">STRAVEL makes it easy to meet likeminded people for a great night out together</p>
    </div>
  </div>
