
<div class="container-couli">
    <div class="row">
        <h1 class="title" style="text-align: center;">STRAVEL</h1>
        <h4 class="catch-phrase" style="text-align: center;">Find a cool night out together!</h4>
    </div>

    <div class="row">
    <div class="col-sm-4 col-sm-offset-5 col-xs-5 col-xs-offset-4 small-margin">
        <%=  submit_tag "Sign Up", class: "btn btn-primary button-event"%>
    </div>
  </div>
      <p style="text-align: center; color: white; margin-top: 20vh;">STRAVEL makes it easy to meet likeminded people for a great night out together</p>
</div>

