.button-event {
  background-color: #ee965b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  transition: 0.6s ease;
  box-shadow: 3px 3px 5px #E6E6E6;
}

.button-event:hover{
  background-color: #c75c41;
}

.button-event-signin {
  background-color: #eeab5b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  transition: 0.6s ease;
  box-shadow: 1px 1px 3px #E6E6E6;
}

.button-event-signin:hover{
  background-color: #ee965b;
}


.button-event-signup {
  background-color: #c75c41; /* Beige */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  transition: 0.6s ease;
  box-shadow: 0.5px 0.5px 2px #E6E6E6;
}

.button-event-signup:hover{
  background-color: #9b361d;
}

.button-create {
  background-color: #F3EBDF;
  border: 2px solid;
  border-color:#ED9153;
  color: #ED9153;
  padding: 30px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  transition: 0.4s ease;
  width: 150px;
  box-shadow: 3.5px 3.5px 5px #E6E6E6;
}


.button-create:hover {
  background-color: #2BD68F;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.button-join {
    background-color: #ED9153;
    color: white;
    border-color:#ED9153;
    padding: 30px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    transition: 0.4s ease;
    width: 150px;
    box-shadow: 3.5px 3.5px 5px #E6E6E6;
  }

  .small-margin {
    margin-top: 30px;
  }

  .big-margin {
    margin-top: 150px !important;
  }
