// interests
.cards {
  background-color: #F3F2E2;
  color: #F1829F;
  height: 15vh;
  width: 20vw;
  min-height: 50px;
  min-width: 125px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  transition: 0.6s ease;
  flex: 0 1;
  margin: 15px 10px;
  border-style: solid;
  border-color: white;
  box-shadow: 4px 4px 7px #FBD157;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
}


.cards:active {
  background-color:#233142;
  border-style: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-event-show1 {
  border: 2px groove #FBD157;
  margin: 7px;
  padding: 17px 16px;
  height: 120px;
}

.card-user-pic {
  display: flex;
  justify-content: space-between;
}

.card-avatar {
  width: 80px;
  height: 80px;
  border-radius: 60%;
  position: absolute;
  right: 35px;
}

.cards img {
    position: relative;
    height: 30%;
    margin-top: 5px;
}
