form {
  .event_activity {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 350px;
    margin: 0 auto;
  }

  .radio.btn.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;

    input {
      display: none;
    }

    label {
      padding: 0;
    }
  }
}

.radio.btn.btn-primary.is-selected {
  background: #2D8BE2;
}

.new-events-form {
  text-align: left;
  font-size: 18px;
  color: #469AE0;
  font-weight: normal;
}

.forms-flex-body {
  flex: 0 0 50%;
  padding: 10px;
}

.forms-flex-container {
  display: flex;
  align-items: center;
}

.wrapper-forms {
  width: 65vw;
  margin-left: auto;
  margin-right: auto;
}

.form-space {
  padding: 15px;
}
