.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.container-map{
  height: 250px;
  z-index: 40;

}
.map-container {
  position: relative;
}
 .card-event-design {
  display: flex;
  border: 2px groove rgba(28,110,164,0.18);
  margin: 15px;
  height: 100px;
  align-items: center;
  text-align: center;
  justify-content:center;
   }
.map-p {

}

.apply-button {
  background-color: #DBAD6A;
  border: none;
  color: white;
  vertical-align: center;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 15px;
}
