.mapboxgl-popup {
  max-width: 300px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.container-map {
  height: 397px;
  width: 100%;
  z-index: 40;
  background-color: #3E2948;
  position: fixed;
  padding: 0px;
}

.map-container {
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  height: 325px;
  margin-top: 90px;
  z-index: 3;
}

.card-event-design {
  display: flex;
  margin: 15px;
  height: 100px;
  align-items: center;
  text-align: center;
  justify-content:center;
}

.event-title {
  font-size: 18px;
  font-weight: bold;
  color: #FBEDE1;
}

.event-details {
  font-size: 12px;
  margin: 8px;
}

.filler {
  height: 385px;
}
