.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
// .mapboxgl-canvas {
//   width: 150px !important;
//   height: 150px !important;
//   top: 50px;
// }

.map-container {
  position: relative;
}
